[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandasbasketball = "*"
jupyterlab = "*"
bs4 = "*"
requests-cache = "*"
urllib3 = "*"
requests-html = "*"
selenium = "*"
matplotlib = "*"
bokeh = "*"
pandas-profiling = "*"
qgrid = "*"
nba-api = "*"
tqdm = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3.8"
