[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandasbasketball = "*"
jupyterlab = "*"
bs4 = "*"
requests-cache = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
